<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<style>
body {background-color: #121212;}
p {color:#E0E0E0;font-family:calibri;}
h2 {color:#E0E0E0;font-family:calibri;}
</style>
</head>

<h2>Sistema de agendamento de apresentação do Trabalho Prático</h2>
<p>Horário marcado com sucesso. Salve um print dessa tela por garantia.</p>
<p>Dia:{{dia}}</p>
<p>Horário:{{hora}}</p>
<p>Nome:{{nome}}</p>
<p>Matrícula:{{matricula}}</p><br>
<p>Identificador do horário escolhido:{{opcao}}</p><br>
<p>Segue código de confirmação que pode ser usado caso haja algum problema:</p>

<p style="color:red" id="input">{{code}}</p>

<p>{{obs}}</p>
